body
  background white
  width 350px

header
  border 1px solid #ddd
  border-bottom 0
  border-radius 10px 10px 0 0
  display none
  ul
    list-style none
    margin 0
    padding 10px
    li
      font-size 2.2em
      text-align center

#body
    background #f8f8f8
    border 1px solid #dddddd
    padding 10px
  div
    background #FFFFFF
    border-radius 15px
    box-shadow 0 1px 1px 0 rgba(0,0,0,0.15)
    margin-bottom 6px
    padding 8px
    position relative
    h1
      color #333
      margin-top 0
    .pushBody
      color #737373
      word-wrap break-word
    .details
      span
        &.application
          color #36A9E1
          &:after
            content ' -- '
            color #666666
        &.date
          color #CCCCCC
    .remove
        cursor pointer
        position absolute
        right 15px
        top 0
    img
      border-radius 50%
      float left
      margin-right 10px
      width 60px

  #signin
    background #6ec17c
    color white
    text-align center
    span
      color white
      cursor pointer
      font-size 1.5em
      text-decoration none
