body
  background #F8F8F8

#body
  div
    background #FFFFFF
    border-radius 3px
    box-shadow 0 1px 1px 0 rgba(0,0,0,0.15)
    margin-bottom 6px
    padding 8px
    h1
      color #333
      margin-top 0
    .pushBody
      color #737373
    .details
      span
        &.application
          color #36A9E1
          &:after
            content ' -- '
            color #666666
        &.date
          color #CCCCCC
    img
      border-radius 50%
      float left
      margin-right 10px
      width 60px
